<!DOCTYPE html>

<html>
<head>
    <title>Fire Hydrant Range Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    {{ map_html | safe }}
    <script>
        // JavaScript to handle the download button click
        document.getElementById('download-button').addEventListener('click', function() {
            // Retrieve the session ID from the template variable
            var session_id = '{{ session_id }}';
            
            // Construct the download link with the session ID
            var downloadLink = document.createElement('a');
            downloadLink.href = '/download?session_id=' + session_id;
            downloadLink.click();
        });
    </script>
</body>
</html>
